@import "../../../../variables.scss";

mat-card {
  width: 80%;
  margin-top: 20px;
  margin: 20px auto;
  background-color: #f9f9f9;
}

mat-card-title {
  color: $primary;
  text-align: center;
  margin-bottom: 30px;
}

mat-form-field {
  padding-right: 7px;
}

.inputApto {
  width: 7%;
}

.inputPlaca {
  width: 22.5%;
}

.inputMarca {
  width: 22.5%;
}

.inputModelo {
  width: 22.5%;
}

.inputCor {
  width: 22.5%;
}

.btnSalvar {
  margin-left: 10px;
}

.buttons {
  margin-right: 8px;
  display: flex;
  justify-content: end;
}
